.header {
  font-size: 3em;
  color: white;
  background: #404040;
  text-align: center;
  height: 2.5em;
  text-shadow: 4px 4px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error {
  font-size: 2em;
  color: red;
  height: 50px;
  text-shadow: 2px 2px 2px black;
  margin: 2em;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visible {
  display: block;
}

#target {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

#info {
	position: absolute;
	display: block;
	text-align: center;
  width: 100%;
	z-index: 100;
}

.info-text {
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
